.full-page{
    margin: auto;
}
/*top page*/
/*section 1*/
.intop{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);   */
    top: 0;
    right: 0;
    left: 0; 
    background: #fff;
    box-sizing: border-box;
    padding: 12px 0;
    position: fixed; 
    z-index: 997;
}


/* vesperr */
.logo h1 a{
    color: #222222;
    text-decoration: none;
    font-size: 30px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
}
.logo h1{
    margin-top: 24px;
    margin-left: 70px;
}

/* navigation */
.navigation ul li a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    display: inline-block;
    color: #555555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navigation ul li a:hover{
    color: #3498db;
}
.navigation ul li{
    margin-right: 20px;
}
.navigation ul p a:hover{
    color: #fff;
    background-color: #2985c2;
}
.navigation ul{
    list-style: none;
    margin: 20px 40px 0px 0px;
}

.navigation ul{
    display: flex;
}
.gets{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 40px;
    transition: 0.5s;
    color: white;
    border: 2px solid #3498db; 
    background-color: #3498db; 
}

/* get started */
.navigation ul li .gets {
    background: #3498db;
    padding: 8px 25px;
    margin-left: 30px;
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    list-style: none;
}

/* section 2 */
.headbanner{
    display: flex;
    justify-content: space-evenly;
    padding: 60px;
    margin-top: 60px;
}
.inhead{
    margin-top: 50px;
    width: 50%;
}
.image{
    width: 50%;
}
.head{
    margin: 0 0 10px 0;
    font-size: 50px;
    font-weight: 700;
    line-height: 56px;
    color: black;
    font-family: "Raleway", sans-serif;
}

.para{
    color: #484848;
    margin-bottom: 50px;
    font-size: 27px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    padding: 10px;
}
.get{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
}
.get:hover{
    background-color: #3498db;
   color: white;
}

/* section 3 */
.header-banner-logo-6{
    height: 90px;
    background-color: #F3F9FD;
}
.inline{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 60px 0px 60px;
}
.header-banner-logo-6 img{
    filter: grayscale(100);
    opacity: 1;
    display: inline-block;
    cursor: pointer;
}
.header-banner-logo-6 img:hover{
    filter: grayscale(0%);
}

/* Part-2 */
/* About us */
.aboutus{
    text-align: center;
    padding-top: 30px;
}

.aboutus h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
    font-family: "Raleway", sans-serif;
}

/* paragraph */
.paragraph{
    display: flex;
    justify-content: space-between; 
    height: 120px;
    margin: 20px 30px 0px 30px;
    padding: 40px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    line-height: 1.4;
}
.paragraph .para-1{
    width: 48%;
}
.para-1 ul{
    margin: 13px 0px 0px 20px;
}
.para-1 ul li{
    list-style: none;
}
.icofont-tick-mark{
    margin-right: 17px;
    color: #3498db;
}
.paragraph .para-2{
    width: 48%;
}
.learn{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    margin-top: 15px;
}
.learn:hover{
    background-color: #3498db;
   color: white;
}

/* image container icon */ 

.image-container{
    display: flex;
    justify-content: space-between;
    height: 350px;
    margin-top: 10px;
    padding: 50px;
}
.icon{
    display: flex;
}
.image{
    width: 50%;
}
.content-icon{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 30px;
}
.in-icon{
    height: 80px;
    width: 350px;
    margin-top: 30px;
    margin-left: 50px;
}

.icon i{
    text-decoration: none;
    color: #3498db;
    margin-right: 10px;
    font-size: 36px;
}
.icon h1{
    font-size: 36px;
    font-weight: 700;
    color: #222222;
    font-family: "Open Sans", sans-serif;

}
.in-icon p{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: #484848;

}

/* part-3 */
.services-container{
    width: 100%;
}
/* section-1 */
.services{
    text-align: center;
    margin-top: 80px;
}
.services h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    font-family: "Raleway", sans-serif;
}
.services p{
    margin-top: 15px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

/* section-2 */
.four-box{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin-top: 40px;
}
.four-box-content{
    height: 260px;
    width: 300px;
    background-color: #fff; 
    box-sizing: border-box;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%); 
    position: relative;
    overflow: hidden;
    border-radius: 10px;
   
}
.four-box-content .hidden{
    position: absolute;
    background: #e1f0fa;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    box-sizing: border-box;
    top: -40px;
    right: -60px;
}
.four-box-content i{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 36px;
    line-height: 17px;
    text-align: center;
    margin: 12px 4px 0px 4px;
    padding-top: 10px;
    
}
.four-box-content .icon{
    margin: 0 auto 20px auto;
    text-align: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #3498db;
    display: inline-block;
    margin: 30px 0px 0px 30px;
    position: relative;
} 
.four-box-content h2{
    font-family: "Raleway", sans-serif;
    color: #111;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
    margin: 15px 0px 0px 30px;
}
.four-box-content p{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-size: 15px;
    line-height: 28px;
    margin: 15px 0px 0px 30px;
}  
.four-box-content:hover{
    background-color: #3498db;
    color: #fff;
    transition:  all 0.3s;
}
.four-box-content:hover h2{
    color: white;
    transition: all 0.3s;
}
.four-box-content:hover p{
    color: white;
}
.four-box-content:hover .hidden{
    background-color: #3498db;
    transition: all 0.3s;
}
.four-box-content .icon:hover{
    background-color: white;
    transition: all 0.3s;
}
.four-box-content:hover .icon {
    color: #3498db;
    background-color: white;
    transition: all 0.3s;

}
.four-box-content:hover .icon p{
    color: white;
    transition: all 0.3s;
}
.four-box-content:hover .icon i{
    color: #3498db;
    transition: all 0.3s;
}

/* section-3 */
.four-image-flex{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px;
    margin-bottom: 90px;
}

.banner-card{
    position: relative;
}
.banner-card img{
    height: 340px;
    width: 640px;
}
.banner-text{
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: #ffffff;
    opacity: 0.85;
    height: 140px;
    width: 600px;
    margin: 0px 20px 20px 20px;
    padding: 25px;
}
.banner-text h2{
    font-size: 20px;
    color: #222222;
    font-family: Raleway,sans-serif;
    text-align: center;
}
.banner-text p{
    font-size: 16px;
    font-family: "Open sans",sans-serif;
    color: #5e5e5e;
    padding-top: 15px;
    width: 500px;
    margin-left: 40px;
}
.banner-text a{
    text-decoration: none;
    font-family: "Open sans",sans-serif;
    font-size: 14px;
}
.banner-text a h5{
    text-decoration: none;
    color: #777777;
    font-weight: 600;
    font-size: 12px;
    margin: 30px 0px 0px 38px;
}
.banner-text a i{
    text-decoration: none;
    font-size: 14px;
}
/* hover */
.four-images-1:hover .banner-text{
    background: #3498db;
}
.four-images-1:hover h2{
    color: #fff;
}
.four-images-1:hover p{
    color: #fff;
}
.four-images-1:hover a h5{
    color: #fff;
    text-decoration: underline;
}
.four-images-1:hover a i{
    color: #fff;
    text-decoration: underline;
}
.four-images-2:hover .banner-text{
    background: #3498db;
}
.four-images-2:hover h2{
    color: #fff;
}
.four-images-2:hover p{
    color: #fff;
}
.four-images-2:hover a h5{
    color: #fff;
    text-decoration: underline;
}
.four-images-2:hover a i{
    color: #fff;
    text-decoration: underline;
}
.four-images-3:hover .banner-text{
    background: #3498db;
}
.four-images-3:hover h2{
    color: #fff;
}
.four-images-3:hover p{
    color: #fff;
}
.four-images-3:hover a h5{
    color: #fff;
    text-decoration: underline;
}
.four-images-3:hover a i{
    color: #fff;
    text-decoration: underline;
}
.four-images-4:hover .banner-text{
    background: #3498db;
}
.four-images-4:hover h2{
    color: #fff;
}
.four-images-4:hover p{
    color: #fff;
}
.four-images-4:hover a h5{
    color: #fff;
    text-decoration: underline;
}
.four-images-4:hover a i{
    color: #fff;
    text-decoration: underline;
}

.four-images-3{
    margin-top: 30px;
}
.four-images-4{
    margin-top: 30px;
}


/* part-4 */
/* features */
/* section-1 */
.features-header{
    margin-top: 20px;
    text-align: center;
}
.features-header h1{
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
}
.features-header p{
    margin: 15px 0px 0px 0px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
/* section-2 */
.features-icon-flex{
   display: flex; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 50px;
}
.features-icon-1{
    margin: 20px 20px 0px 0px;
    height: 75px;
    width: 300px;
    align-items: center;
    padding: 20px;
    background: #f6f6f6;
    display: flex;
    justify-content: center;
}
.features-icon-1 i{
    text-decoration: none;
    font-size: 32px;
    margin-right: 10px;
}
.features-icon-1 h3{
    font-size: 16px;
    color: #222222;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
}
/* features-icon-1 */
/* hover */
.features-icon-1:hover {
    background: #eef7fc;
}

/* part-5 */
.testimonials-header{
    text-align: center;
    padding: 30px;
}
.testimonials-header h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    font-family: "Raleway", sans-serif;
}
.testimonials-header p{
    font-family: "Raleway", sans-serif;
    color: #444444;
    font-size: 18px;
    margin-top: 15px;
}
.testimonials-container{
    height: 600px;
    background-color: #f7fbfe;
}
.testimonials-flex{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    padding: 30px;
}
.testimonials-left{
    display: flex;
    height: 260px;
    width: 560px;
    background: #fff;
    margin-left: 60px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.testimonials-right{
    display: flex;
    height: 260px;
    width: 560px;
    background: #fff;
    margin-right: 60px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.testimonials-left img{
    margin-right: 15px;
    border: 6px solid #fff;
}

.testimonials-right img{
    margin-right: 15px;
    border: 6px solid #fff;
}
.testimonials-content-left{
    margin: 20px;
}
.testimonials-left h3{
    font-size: 18px;
    color: #111;
    margin: 10px 0px 5px 0px;
    font-family: "Raleway",sans-serif;
}
.testimonials-left h5{
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.testimonials-left p{
    color: #5e5e5e;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    line-height: 1.4;
}

.testimonials-content-right{
    margin: 20px;
}
.testimonials-right h3{
    font-size: 18px;
    color: #111;
    margin: 10px 0px 5px 0px;
    font-family: "Raleway",sans-serif;
}
.testimonials-right h5{
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.testimonials-right p{
    color: #5e5e5e;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    line-height: 1.4;
}
.profile-image{
    margin: 30px 0px 0px -40px;
}
/* Quottations */
.testimonials-content-left p i{
    text-decoration: none;
    font-size: 26px;
    color: #e1f0fa;
    margin: 0px 10px 0px 10px;
}
.testimonials-content-right p i{
    text-decoration: none;
    font-size: 26px;
    color: #e1f0fa;
    margin: 0px 10px 0px 10px;
}
/* bottom-circle */
.bottom-circle{
    display: flex;
    justify-content: center;
}
.dot{
    margin-right: 7px;
    height: 15px;
    width: 15px;
    border-radius: 50%; 
    border: 1px solid #3498db;
    background-color: #e1f0fa;
}
/* bottom-dot hover */
.dot:hover{
    background-color: #3498db;
}

/* PORTFOLIO */
/* section-1 */
.portfolio-container{
    width: 100%;
}
.portfolio-header{
    text-align: center;
    margin-top: 30px;
}
.portfolio-header h1{
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
    font-family: "Raleway", sans-serif;
}
.portfolio-header p{
    margin: 15px 0 0 0;
    font-size: 16px;
    color: #5e5e5e;
    font-family: "Open sans", sans-serif;
}
/* nextpage */
.portfolio-next-page{
     display: flex;
     justify-content: center;
     margin-top: 20px;
}
.next-page{
    margin-right: 20px;
    height: 30px;
    width: 60px;
    background-color: #fff;
    
}
.next-page h6{
    font-size: 14px;
    font-family: "Open sans",sans-serif;
    color: #222222;
    text-align: center;
    margin-top: 10px;
}

/* next page hover */
.next-page:hover{
    background-color: #3498db;
    border-radius: 2px;
}
.next-page:hover h6{
    color: #fff;
}


/* portfolio-images */
.portfolio-images-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.portfolio-card{
    position: relative;
    height: 350px;
    width: 400px;
    overflow: hidden;
    margin: 20px 10px 0px 10px;
}
.portfolio-card img{
    height: 350px;
    width: 400px;
    overflow: hidden; 
}
.portfolio-image-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute; 
    left: 0;
    top: 0;
    height: 350px;
    width: 400px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.41);
    opacity: 0;
}
.link a{
    text-decoration: none;
}
.portfolio-card:hover .portfolio-image-content{
    opacity: 1;
}
.portfolio-card:hover .link{
    margin-left: 10px;
}
.portfolio-card:hover .link i{
    margin-right: 5px;
}
.portfolio-card:hover h3{
    margin-left: 10px;
}
.portfolio-card:hover h4{
    margin-left: 10px;
}

.portfolio-card:hover img{
    transform: scale(1.1);
    /* overflow: hidden; */
} 
.portfolio-card:hover .portfolio-image-content{
    opacity: 0.96;
    color: white;
}
.link i{
   text-decoration: none;
   color: #fff; 
   font-size: 20px;
}
.portfolio-image-content h3{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}
.portfolio-image-content h4{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}

/* team */
.team-container{
    background-color: #f7fbfe;
    height: 650px;
}
/* section-1 */
.team-header{
    text-align: center;
    padding: 20px;
}
.team-image-1{
    height: 430px;
    width: 330px;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.team-header h1{
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
}
.team-header p{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 15px 0 0 0;
}
/* section-2 */
.team-images-flex{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}
.image-1-icon{
    position: relative;
}
.icon-team{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 330px;
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    opacity: 0;
    background: rgba(255, 255, 255, 0.85);
}
.icon-team i{
    margin: 10px 15px 0px 15px;
    align-items: center;
}
.team-info{
    padding: 20px;
}
.team-info h3{
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 18px;
    color: #222222;
}
.team-info h5{
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    color: #aaaaaa;
    margin: 10px 0 0 0;
}
.icon-team i{
    text-decoration: none;
    font-size: 20px;
}
/* hover */
.team-image-1:hover .icon-team{
    opacity: 1;
}

/* pricing */
/* section-1 */
.pricing-header{
    padding: 30px;
}
.pricing-header h1{
    text-align: center;
    font-size: 32px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #222222;
}
.pricing-header p{
    text-align: center;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    margin: 15px 0 0 0;
}
/* section-2 */
.pricing-flex-container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
/* pricing-free */
.pricing-free{
    height: 460px;
    width: 410px;
    border-radius: 10px;
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
    align-items: center;
}
.pricing-free h3{
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #222222;
}
.pricing-free ul li{
    list-style: none;
}
.pricing-free h4 sup{
    font-size: 20px;
    bottom: 15px;
    left: -3px;
    margin-right: 7px;
}
.pricing-free h4{
    font-size: 42px;
    color: #3498db;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
.pricing-free h4 span{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.pricing-free ul li{
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
}
.line{
    text-decoration: line-through;
    color: #ccc;
}
.buy-now{
    margin: 25px 0 0 0;
}
.buy-now a{
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    color: #3498db;
   
}
.buy-now{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    border: 2px solid #3498db;
}
.buy-now:hover{
    background-color: #3498db;
}
.buy-now:hover .buy{
    color: #eef7fc;
}
/* pricing business */
.pricing-business{
    height: 460px;
    width: 410px;
    border-radius: 10px;
    border: 2px solid #3498db;
    background: #f9f9f9;
    padding: 20px;
    text-align: center;
    align-items: center;  
    line-height: 20px;
}
.pricing-business ul{
    list-style: none;
}
.pricing-business h3{
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    color: #222222;
    margin-bottom: 20px;
}
.pricing-business h4{
    font-size: 42px;
    color: #3498db;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}
.pricing-business h4 sup{
    color: #3498db;
    font-size: 20px;
    bottom: 15px;
    left: -3px;
}
.pricing-business h4 span{
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
}
.pricing-business ul li{
    padding-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
    font-family: "Open Sans", sans-serif;
}
.buy-btn a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    padding: 15px;
}
.buy-btn{
    display: inline-block;
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    border-radius: 50px;
    background-color: #3498db;
    margin-top: 30px;
}
.buy-btn:hover{
    background-color: #2c88c6;
}

/* FAQ */
/* section-1 */
.faq-header h1{
    text-align: center;
    padding: 50px;
    font-size: 32px;
    font-weight: bold;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #222222;
}
.faq-para{
    padding: 50px;
}
.faq{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.faq h4{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.faq h4 i{
    text-decoration: none;
    color: #3498db;
    margin-right: 8px;
}
.faq p{
    width: 50%;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

/* contact us */
.contact-container{
    height: 500px;
    width: 100%;
}
/* section-1 */
.contact-header{
    text-align: center;
    padding: 30px;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #222222;
    font-family: "Raleway", sans-serif;
}
/* section-2 */
.contact-flex{
    display: flex;
    justify-content: space-evenly;
    margin: 0 50px 0 50px;
    padding: 30px;
}
/* left */
.vesperr{
    width: 40%;
}
.vesperr h2{
    font-size: 28px;
    font-family: "Raleway", sans-serif;
    margin: 0 0 10px 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    color: #222222;
}
.vesperr p{
    font-size: 14px;
    line-height: 24px;
    font-family: "Raleway", sans-serif;
    color: #888;
    margin-top: 10px;
}
.icon-flex{
    margin-top: 10px;
}
.icon-flex i{
    text-decoration: none;
    color: #3498db;
    font-size: 20px;
    position: absolute;
    left: 9px;
    top: 9px;
    right: 9px;
    bottom: 9px;
}
.icon-back{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    border: 1px solid #3498db;
    margin-right: 10px;
    
}
.icon-flex{
    display: flex;
}
.icon-back:hover{
    background-color: #3498db;
}
.icon-back:hover i{
    color: #fff;
}
/* middle */
.contact-info{
    width: 30%;
}
.info-1{
    display: flex;
    color: #444444;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
}
.info-1 i{
    text-decoration: none;
    color: #3498db;
    font-size: 35px;
    margin-right: 10px;
}
.contact-info p{
    font-size: 14px;
    color: #444444;
    font-family: "Open Sans", sans-serif;
    padding: 10px;
}
.contact-info p i{
    text-decoration: none;
    color: #3498db;
    font-size: 35px;
    margin-right: 10px;
}
/* form */
.contact-input{
    width: 40%;
}
form input{
    width: 450px;
    height: 30px;
}
.contact-input input:focus{
    outline-color: #3498db;
}
.contact-input textarea:focus{
    outline-color: #3498db;
}
.send button{
    text-decoration: none;
    color: #fff;
    height: 40px;
    width: 150px;
    border-radius: 50px;
    background-color: #3498db;
    border: 0;
    margin-left: 150px;
}
.send button:hover{
    background-color: #2985c2;
}

/* bottom-slide */
.bottom-slide{
    height: 100px;
    width: 100%;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
}
.bottom-in{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 100px;
}
/* bottom-left */
.bottom-left{
    width: 50%;
}
.bottom-left p{
    text-align: center;
    color: #222222;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    line-height: 20px;
}
.bottom-left b{
    font-family: "Open Sans", sans-serif;
}
.bottom-left p a{
    text-decoration: none;
    color: #3498db;
}
/* bottom-right */
.bottom-right{
    width: 50%;
    padding: 10px;
}
.bottom-right ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0 10px 0 10px;
}
.bottom-right ul li a{
    text-decoration: none;
    color: #222222;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    margin: 0 10px 0 10px;
}
.bottom-right ul li a:hover{
    color: #3498db;
}




